
#about{
    background: -webkit-linear-gradient(left,#FDFDFD, #DBCCDA);
    display: inline-block;
    width: 500px;
    vertical-align: top;
    width: 508px;
    height: 281px;

}
.header{
    background-color: #6F5964;
}

#mode{
    background: -webkit-linear-gradient(left,#FDFDFD, #DBCCDA);
    display: inline-block;
    width: 300px;
    height: 560px;
    vertical-align: top;
    margin-top: 10px;
    margin-right: 10px;
}
#family{
    background: -webkit-linear-gradient(left,#FDFDFD, #DBCCDA);
    display: inline-block;
    width: 300px;
    height: 560px;
    vertical-align: top;
    margin-top: 10px;
    margin-right: 10px;
}
#five{
    background: -webkit-linear-gradient(left,#FDFDFD, #DBCCDA);
    display: inline-block;
    width: 300px;
    height: 560px;
    margin-top: 10px;
    
}
#top{
    background: rgba(243, 243, 243, 0.64);
    width: 972px;
    display: inline-block;
    height: 68px;
}
#container{
    background:-webkit-linear-gradient(left bottom,black,#6F5964,black);
    width: 932px;
    padding: 20px;
}
#portrait{
    border-style: solid;
    border-color: grey;
    line-height: 0;
    display: inline-block;
    margin-right: 10px;
}
h4{
    margin: 0px;
    color: white;
    padding: 5px;
    margin-left: 2.5px;
}
h5{
    color: white;
    padding: 2.5px;
    margin-left: 2.5px;
}
.techsections{
    vertical-align: bottom;
}
.description{
    height: 165px;
    padding: 5px;
}
.tech{
    margin: 10px;
}
#footer{
    text-align: center;
    background: rgba(243, 243, 243, 0.64);
    width: 972px;
    vertical-align: top;
    display: inline-block;
}
button{
    background-color: green;
    text-align: center;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 0px;
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}   
.button{
    text-align: center;
}
h1{
    display: inline-block;
    margin-left: 10px;
}
h2{
    display: inline-block;
    float: right;
    margin-right: 10px;
}
.contactlink{
    color: black;
}
.bio{
    padding: 5px;
}
a{
    color: black;
}
.tech > img{
    margin-right: 3px;
}